# Node.js
node_modules/
package-lock.json  # Można commitować, ale często ignorowany w mniejszych projektach
npm-debug.log*
yarn-error.log*

# Cypress

cypress/videos/
cypress/cache/
cypress/output/
.cypress-cache/